{% extends 'adminindex.html' %}
{% block content %}
<form style="margin-left: 250px;" action="{% url 'form' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
      <div class="card-body">
        <div class="form-group">
         
          <label for="">category</label>
          <input type="text" class="form-control" id="" placeholder="" name="category">
        </div>
        <div class="form-group">
          <label for="">doctors_name</label>
          <input type="text" class="form-control" id="" placeholder="" name="doctors_name">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">doctor_image</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="exampleInputFile" name="doctor_image">
              <label class="custom-file-label" for="exampleInputFile">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">Upload</span>
            </div>
          </div>
         
        </div>
        <div class="form-group">
          <label for="">experiance</label>
          <input type="text" class="form-control" id="" placeholder="" name="experiance">
        </div>
        <div class="form-group">
          <label for="">contact</label>
          <input type="number" class="form-control" id="" placeholder="" name="contact">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>
{% endblock %}